[user]
	name = Matheus Richard
	email = matheusrichardt@gmail.com
[core]
	editor = vim

[alias]
  checkout-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
  amend = commit --amend
[push]
	default = simple
